*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  
}


:root {
  --primary-color: #EE3A44;
  --secondary-color: #0080FF;
  --button-color:linear-gradient(98deg, rgba(255,25,63,1) 0%, rgba(255,90,107,1) 99%);;
}

.second{
  color: var(--secondary-color);
  margin-right: 5px;
}

.scl::-webkit-scrollbar{
  /* width: none;
   */
   display: none;
}

.scl {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body{
  width: 100%;
}